body {
    background:  #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

.container{
    width: 1000px;
    margin: auto;
}

header{
    background: #ebebeb;
    margin: auto;
    /* margin top; */
    width: 960px;
    text-align: center;
    /* padding: ; */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
}

nav {
    background: #ebebeb;
    margin: auto;
    /* margin top: ; */
    width: 960px;
    text-align: center;
    /* padding: ; */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
}

section {
    background: #ebebeb;
    width: 495px;
    float: left;
}

article {
    
    margin: auto;
    background:  #777777;
    color: white;
}

aside {
    float: right;
    margin: auto;
    background:  #ebebeb;
    color: #777777;
}

footer {
    background: #ebebeb;
    margin: auto;
    /* margin top: ; */
    width: 960px;
    text-align: center;
    /* padding: ; */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    clear: both;
}





/* Your CSS should have styles for each of the following elements:
Body
Header, nav, and footer
Section
Aside
Article
.clear
Your text elements: h1, p, etc.
The colors used in your final layout should be:
Background: #777
Content: #ebebeb
The widths of each section should be:
body: 960px
section: 495px */

